=logo()
  display: inline-block
  height: 40px
  width: 160px
  margin-left: 20px
  margin-top: 16px
  background-repeat: no-repeat
  background-size: contain

=menu()
  margin-right: 20px
  float: right
  .menu_item
    display: inline-block
    line-height: 61px
    font-size: 14px
    &.option
      margin-right: 20px
      &.phone
        *
          color: #222
        a
          text-decoration: none
          img
            vertical-align: middle
        img
          height: 20px
          width: 20px
      span
        cursor: pointer
    button
      font-size: 14px
      line-height: 1.8
      margin-bottom: 1px
      border-radius: 6px !important
      padding: 5px 15px

@font-face
  font-family: "MuseoSansMedium"
  src: url("../fonts/MuseoSansMedium.eot")
  src: url("../fonts/MuseoSansMedium.eot?#iefix") format("embedded-opentype")
  src: url("../fonts/MuseoSansMedium.woff") format("woff")
  src: url("../fonts/MuseoSansMedium.ttf") format("truetype")
  font-style: normal
  font-weight: normal
@font-face
  font-family: "MuseoSansBold"
  src: url("../fonts/MuseoSansBold.eot")
  src: url("../fonts/MuseoSansBold.eot?#iefix") format("embedded-opentype")
  src: url("../fonts/MuseoSansBold.woff") format("woff")
  src: url("../fonts/MuseoSansBold.ttf") format("truetype")
  font-style: normal
@font-face
  font-family: "MuseoSansRegular"
  src: url("../fonts/MuseoSansRegular.eot")
  src: url("../fonts/MuseoSansRegular.eot?#iefix") format("embedded-opentype")
  src: url("../fonts/MuseoSansRegular.woff") format("woff")
  src: url("../fonts/MuseoSansRegular.ttf") format("truetype")
  font-style: normal

body
  margin: 0
  *
    font-family: "MuseoSansMedium", Helvetica, Arial, sans-serif

#nav
  background-color: #ffffff
  transition: all .3s ease
  box-shadow: none
  position: fixed
  z-index: 1000
  height: 60px
  width: 100%
  top: -70px
  &.visible
    top: 0
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.3)
  .logo
    background-image: url(../img/logo.svg)
    +logo()
  .menu
    +menu()
    .menu_item
      &.option
        span
          color: #8c8c8c
          transition: color 0.3s
          -webkit-transition: color 0.3s
          -moz-transition: color 0.3s
          -o-transition: color 0.3s
          &:hover
            color: #222
  *
    font-family: "MuseoSansBold", Helvetica, Arial, sans-serif
    letter-spacing: .8px
#first_block
  background: 50% 0 url(../img/1.jpg) no-repeat
  background-size: cover
  position: relative
  height: calc(100vh - 25px)
  .header
    .logo
      +logo()
      background-image: url(../img/logo_white.svg)
    .menu
      *
        font-family: "MuseoSansBold", Helvetica, Arial, sans-serif
        letter-spacing: .8px
      +menu()
      .menu_item
        &.option
          &:last-of-type
            margin-right: 0
          *
            text-shadow: 0 1px 2px rgba(0,0,0,.25)
          span
            color: #ffffff
          &.phone
            *
              color: #fae12e
  .content
    position: relative
    margin: 0 auto
    max-width: 940px
    padding-top: 90px
    padding-bottom: 40px
    .moto
      *
        color: #fff
        text-shadow: 0 1px 2px rgba(0,0,0,.25)
        display: inline
        font-size: 40px
        line-height: 50px
      h1
        font-family: "MuseoSansBold", Helvetica, Arial, sans-serif
    .form
      background: hsla(0,0%,100%,.95)
      padding: 20px
      box-shadow: 0 1px 2px 0 rgba(0,0,0,.25)
      text-align: center
      border-radius: 6px
      margin-top: 222px
      input
        margin-right: 20px
      button
        height: 40px
        font-size: 16px
        padding-left: 16px
        padding-right: 16px
  .top_pointer_wrapper
    margin-left: -100px
    position: absolute
    bottom: -55px
    height: 82px
    width: 200px
    z-index: 1
    left: 50%
    cursor: pointer
    .top_pointer
      display: block
      -webkit-animation: _1SPxwonwfe0SdBCvZcLsRX 1s infinite
      animation: _1SPxwonwfe0SdBCvZcLsRX 1s infinite
      margin: 6px auto 0
      position: relative
      height: 34px
      width: 34px
      color: #000
      border-radius: 100px
      border: 1px solid #d9d9d9
      background: #fff
      &:before
        content: ""
        position: absolute
        width: 10px
        height: 10px
        top: 9px
        left: 11px
        -webkit-transform: rotate(45deg)
        transform: rotate(45deg)
        border: 2px solid #000
        border-left: none
        border-top: none

.block
  &.grey
    background-color: #f8f8f8
  .wrapper
    max-width: 940px
    margin: 0 auto
    padding: 100px 0
    & > .header
      font-family: "MuseoSansBold", Helvetica, Arial, sans-serif
      text-align: center
      line-height: 40px
      letter-spacing: 0
      font-size: 40px
      color: #222
      margin: 0
    #faq
      border-top: 1px solid #d9d9d9
      margin-top: 40px
    .sub_header
      margin-top: 22px
      padding: 0 80px
      text-align: center
      font-size: 20px
      letter-spacing: 0
      line-height: 28px
      color: #222
    #personnel
      margin-top: 70px
      display: -webkit-flex
      display: -ms-flexbox
      display: flex
      -webkit-justify-content: space-between
      -ms-flex-pack: justify
      justify-content: space-between
      transition: all .8s ease
      .item
        transition: all .8s ease
        height: 300px
        width: 300px
        text-align: center
        margin-bottom: 50px
        background: #fff
        border-radius: 6px
        border: 1px solid #d9d9d9
        color: #000
        .header
          font-size: 14px
          font-family: "MuseoSansBold", Helvetica, Arial, sans-serif
          color: #000
          line-height: 40px
          text-transform: uppercase
          letter-spacing: .8px
          border-bottom: 1px solid #d9d9d9
          background: hsla(0,0%,97%,.5)
          border-radius: 6px 6px 0 0
        .image
          background: 70% 0 no-repeat
          background-size: 190px
          border-radius: 100px
          margin: 0 auto
          opacity: 1
          height: 160px
          width: 160px
          margin-top: 30px
        .descr
          display: inline-block
          margin-top: 16px
          font-size: 16px
          color: #222
        &:first-of-type
          .image
            background-image: url(../img/worker_1.PNG)
        &:nth-of-type(2)
          .image
            background-image: url(../img/worker_2.PNG)
        &:last-of-type
          .image
            background-image: url(../img/worker_3.PNG)
button
  border-radius: 4px !important
  transition: background-color 0.3s
  -webkit-transition: background-color 0.3s
  -moz-transition: background-color 0.3s
  -o-transition: background-color 0.3s
  outline: 0 !important
  padding: 5px 10px
  font-size: 12px
  line-height: 1.5
  color: #fff
  background-color: #20a052
  display: inline-block
  margin-bottom: 0
  font-weight: normal
  text-align: center
  white-space: nowrap
  vertical-align: middle
  -ms-touch-action: manipulation
  touch-action: manipulation
  cursor: pointer
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  background-image: none
  border: 1px solid transparent
  -webkit-appearance: button
  text-transform: none
  &:hover,
  &:focus,
  &:active
    color: #fff
    background-color: #4db375
    text-decoration: none
  &:focus
    outline-offset: -2px
  &:active
    background-image: none

input
  padding: 0 15px
  font-size: 15px
  height: 40px
  border: 1px solid rgba(0, 0, 0, 0.15)
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
  transition: border-color ease-in-out .3s, box-shadow ease-in-out .3s
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
  border-radius: 4px !important
  &:hover
    border-color: rgba(0, 0, 0, 0.3)
  &:focus
    border-color: #20a052
    outline: 0
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(32,160,82,.64)
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(32,160,82,.64)

.accordion_header
  padding: 25px 0 25px 0
  color: #20a052
  line-height: 35px
  font-size: 26px
  cursor: pointer
  width: 100%
  text-align: left
  transition: 0.4s
  &:hover
    color: #222
  &:after
    margin-top: 8px
    content: ''
    background: url(../img/button_arrow_down.svg) 0 0 no-repeat
    float: right
    width: 31px
    height: 18px
    -webkit-transition: -webkit-transform .1s ease-out
    transition: transform .4s ease-out
  &.active
    &:after
      transform: rotate(180deg)
  div
    display: inline-block
    max-width: 820px
.accordion_content
  border-bottom: 1px solid #d9d9d9
  background-color: white
  max-height: 0
  overflow: hidden
  transition: max-height 0.4s ease-out
  div
    line-height: 25px
    font-family: "MuseoSansReqular", Helvetica, Arial, sans-serif
    font-size: 16px
    display: inline-block
    max-width: 620px
    &:after
      display: block
      height: 25px
      content: ""
@keyframes _1SPxwonwfe0SdBCvZcLsRX
  0%
    top: 0
  50%
    top: 6px
  to
    top: 0
#telegram_link_chat,
#vk_link_chat
  text-decoration: none
  position: relative
  display: inline-block
  height: 40px
  width: 160px
  vertical-align: middle
  transition: background .3s ease
  border-radius: 100px
  line-height: 40px
  letter-spacing: 0
  text-align: center
  font-size: 16px
  color: #fff
  *
    vertical-align: middle
  img
    margin-right: 10px
    height: 24px
    width: 24px

#telegram_link_chat
  background: #2ca5e0
  &:hover
    background: #58b8e7
#vk_link_chat
  background: #5c81b3
  &:hover
    background: #7f9cc3