=logo()
  display: inline-block
  height: 40px
  width: 160px
  margin-left: 20px
  margin-top: 16px
  background-repeat: no-repeat
  background-size: contain

=menu()
  margin-right: 20px
  float: right
  .menu_item
    display: inline-block
    line-height: 61px
    font-size: 14px
    &.option
      margin-right: 20px
      &.phone
        *
          color: #222
        a
          text-decoration: none
          img
            vertical-align: middle
        img
          height: 20px
          width: 20px
      span
        cursor: pointer
    button
      font-size: 14px
      line-height: 1.8
      margin-bottom: 1px
      border-radius: 6px !important
      padding: 5px 15px

@font-face
  font-family: "MuseoSansMedium"
  src: url("../fonts/MuseoSansMedium.eot")
  src: url("../fonts/MuseoSansMedium.eot?#iefix") format("embedded-opentype")
  src: url("../fonts/MuseoSansMedium.woff") format("woff")
  src: url("../fonts/MuseoSansMedium.ttf") format("truetype")
  font-style: normal
  font-weight: normal
@font-face
  font-family: "MuseoSansBold"
  src: url("../fonts/MuseoSansBold.eot")
  src: url("../fonts/MuseoSansBold.eot?#iefix") format("embedded-opentype")
  src: url("../fonts/MuseoSansBold.woff") format("woff")
  src: url("../fonts/MuseoSansBold.ttf") format("truetype")
  font-style: normal

body
  margin: 0
  *
    font-family: "MuseoSansMedium", Helvetica, Arial, sans-serif

#nav
  background-color: #ffffff
  transition: all .3s ease
  box-shadow: none
  position: fixed
  z-index: 1000
  height: 60px
  width: 100%
  top: -70px
  &.visible
    top: 0
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.3)
  .logo
    background-image: url(../img/logo.svg)
    +logo()
  .menu
    +menu()
    .menu_item
      &.option
        span
          color: #8c8c8c
          transition: color 0.3s
          -webkit-transition: color 0.3s
          -moz-transition: color 0.3s
          -o-transition: color 0.3s
          &:hover
            color: #222
  *
    font-family: "MuseoSansBold", Helvetica, Arial, sans-serif
    letter-spacing: .8px
#first_block
  background: 50% 0 url(../img/1.jpg) no-repeat
  background-size: cover
  position: relative
  height: calc(100vh - 25px)
  .header
    .logo
      +logo()
      background-image: url(../img/logo_white.svg)
    .menu
      *
        font-family: "MuseoSansBold", Helvetica, Arial, sans-serif
        letter-spacing: .8px
      +menu()
      .menu_item
        &.option
          &:last-of-type
            margin-right: 0
          *
            text-shadow: 0 1px 2px rgba(0,0,0,.25)
          span
            color: #ffffff
          &.phone
            *
              color: #fae12e
  .content
    position: relative
    margin: 0 auto
    max-width: 940px
    .moto
      *
        color: #fff
        text-shadow: 0 1px 2px rgba(0,0,0,.25)
        display: inline
        font-size: 40px
        line-height: 50px
      h1
        font-family: "MuseoSansBold", Helvetica, Arial, sans-serif

  .top_pointer_wrapper
    margin-left: -100px
    position: absolute
    bottom: -55px
    height: 82px
    width: 200px
    z-index: 1
    left: 50%
    cursor: pointer
    .top_pointer
      display: block
      -webkit-animation: _1SPxwonwfe0SdBCvZcLsRX 1s infinite
      animation: _1SPxwonwfe0SdBCvZcLsRX 1s infinite
      margin: 6px auto 0
      position: relative
      height: 34px
      width: 34px
      color: #000
      border-radius: 100px
      border: 1px solid #d9d9d9
      background: #fff
      &:before
        content: ""
        position: absolute
        width: 10px
        height: 10px
        top: 9px
        left: 11px
        -webkit-transform: rotate(45deg)
        transform: rotate(45deg)
        border: 2px solid #000
        border-left: none
        border-top: none
button
  border-radius: 4px !important
  transition: background-color 0.3s
  -webkit-transition: background-color 0.3s
  -moz-transition: background-color 0.3s
  -o-transition: background-color 0.3s
  outline: 0 !important
  padding: 5px 10px
  font-size: 12px
  line-height: 1.5
  color: #fff
  background-color: #20a052
  display: inline-block
  margin-bottom: 0
  font-weight: normal
  text-align: center
  white-space: nowrap
  vertical-align: middle
  -ms-touch-action: manipulation
  touch-action: manipulation
  cursor: pointer
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  background-image: none
  border: 1px solid transparent
  -webkit-appearance: button
  text-transform: none
  &:hover,
  &:focus,
  &:active
    color: #fff
    background-color: #4db375
    text-decoration: none
  &:focus
    outline-offset: -2px
  &:active
    background-image: none

@keyframes _1SPxwonwfe0SdBCvZcLsRX
  0%
    top: 0
  50%
    top: 6px
  to
    top: 0
