@font-face
  font-family: "MuseoSansRegular"
  src: url("../fonts/MuseoSansRegular.eot")
  src: url("../fonts/MuseoSansRegular.eot?#iefix") format("embedded-opentype")
  src: url("../fonts/MuseoSansRegular.woff") format("woff")
  src: url("../fonts/MuseoSansRegular.ttf") format("truetype")
  font-style: normal
  font-weight: normal
@font-face
  font-family: "MuseoSansBold"
  src: url("../fonts/MuseoSansBold.eot")
  src: url("../fonts/MuseoSansBold.eot?#iefix") format("embedded-opentype")
  src: url("../fonts/MuseoSansBold.woff") format("woff")
  src: url("../fonts/MuseoSansBold.ttf") format("truetype")
  font-style: normal

body
  margin: 0
  *
    font-family: "MuseoSansRegular", Helvetica, Arial, sans-serif

#nav
  background-color: #ffffff
  transition: all .3s ease
  box-shadow: none
  position: fixed
  z-index: 1000
  height: 60px
  width: 100%
  top: -70px
  &.visible
    top: 0
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.3)
  .logo
    display: inline-block
    height: 40px
    width: 130px
    margin-left: 20px
    margin-top: 10px
    background-image: url(../img/logo.png)
    background-repeat: no-repeat
    background-size: contain
  .menu
    margin-right: 20px
    float: right
    display: inline-block
    .menu_item
      display: inline-block
      line-height: 60px
      button
        font-size: 14px
        line-height: 1.8
        margin-bottom: 3px
        border-radius: 6px !important
  *
    font-family: "MuseoSansBold", Helvetica, Arial, sans-serif
    letter-spacing: .8px
#top
  background: 50% 0 url(../img/1.jpg) no-repeat
  background-size: cover
  //padding: 98px 0 119px
  position: relative
  text-align: center
  //min-height: 700px
  height: 100vh

button
  border-radius: 4px !important
  transition: background-color 0.24s ease-out
  -webkit-transition: background-color 0.24s ease-out
  -moz-transition: background-color 0.24s ease-out
  -o-transition: background-color 0.24s ease-out
  outline: 0 !important
  padding: 5px 10px
  font-size: 12px
  line-height: 1.5
  color: #fff
  background-color: #5cb85c
  border-color: #4cae4c
  display: inline-block
  margin-bottom: 0
  font-weight: normal
  text-align: center
  white-space: nowrap
  vertical-align: middle
  -ms-touch-action: manipulation
  touch-action: manipulation
  cursor: pointer
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  background-image: none
  border: 1px solid transparent
  -webkit-appearance: button
  text-transform: none
  &:hover,
  &:focus,
  &:active
    color: #fff
    background-color: #449d44
    border-color: #449d44
    text-decoration: none
  &:focus
    outline-offset: -2px
  &:active
    background-image: none