@font-face {
  font-family: "MuseoSansMedium";
  src: url("../fonts/MuseoSansMedium.eot");
  src: url("../fonts/MuseoSansMedium.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/MuseoSansMedium.woff") format("woff");
  src: url("../fonts/MuseoSansMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "MuseoSansBold";
  src: url("../fonts/MuseoSansBold.eot");
  src: url("../fonts/MuseoSansBold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/MuseoSansBold.woff") format("woff");
  src: url("../fonts/MuseoSansBold.ttf") format("truetype");
  font-style: normal; }
body {
  margin: 0; }
  body * {
    font-family: "MuseoSansMedium", Helvetica, Arial, sans-serif; }

#nav {
  background-color: #ffffff;
  transition: all 0.3s ease;
  box-shadow: none;
  position: fixed;
  z-index: 1000;
  height: 60px;
  width: 100%;
  top: -70px; }
  #nav.visible {
    top: 0;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3); }
  #nav .logo {
    background-image: url(../img/logo.svg);
    display: inline-block;
    height: 40px;
    width: 160px;
    margin-left: 20px;
    margin-top: 16px;
    background-repeat: no-repeat;
    background-size: contain; }
  #nav .menu {
    margin-right: 20px;
    float: right; }
    #nav .menu .menu_item {
      display: inline-block;
      line-height: 61px;
      font-size: 14px; }
      #nav .menu .menu_item.option {
        margin-right: 20px; }
        #nav .menu .menu_item.option.phone * {
          color: #222; }
        #nav .menu .menu_item.option.phone a {
          text-decoration: none; }
          #nav .menu .menu_item.option.phone a img {
            vertical-align: middle; }
        #nav .menu .menu_item.option.phone img {
          height: 20px;
          width: 20px; }
        #nav .menu .menu_item.option span {
          cursor: pointer; }
      #nav .menu .menu_item button {
        font-size: 14px;
        line-height: 1.8;
        margin-bottom: 1px;
        border-radius: 6px !important;
        padding: 5px 15px; }
    #nav .menu .menu_item.option span {
      color: #8c8c8c;
      transition: color 0.3s;
      -webkit-transition: color 0.3s;
      -moz-transition: color 0.3s;
      -o-transition: color 0.3s; }
      #nav .menu .menu_item.option span:hover {
        color: #222; }
  #nav * {
    font-family: "MuseoSansBold", Helvetica, Arial, sans-serif;
    letter-spacing: 0.8px; }

#first_block {
  background: 50% 0 url(../img/1.jpg) no-repeat;
  background-size: cover;
  position: relative;
  height: calc(100vh - 25px); }
  #first_block .header .logo {
    display: inline-block;
    height: 40px;
    width: 160px;
    margin-left: 20px;
    margin-top: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/logo_white.svg); }
  #first_block .header .menu {
    margin-right: 20px;
    float: right; }
    #first_block .header .menu * {
      font-family: "MuseoSansBold", Helvetica, Arial, sans-serif;
      letter-spacing: 0.8px; }
    #first_block .header .menu .menu_item {
      display: inline-block;
      line-height: 61px;
      font-size: 14px; }
      #first_block .header .menu .menu_item.option {
        margin-right: 20px; }
        #first_block .header .menu .menu_item.option.phone * {
          color: #222; }
        #first_block .header .menu .menu_item.option.phone a {
          text-decoration: none; }
          #first_block .header .menu .menu_item.option.phone a img {
            vertical-align: middle; }
        #first_block .header .menu .menu_item.option.phone img {
          height: 20px;
          width: 20px; }
        #first_block .header .menu .menu_item.option span {
          cursor: pointer; }
      #first_block .header .menu .menu_item button {
        font-size: 14px;
        line-height: 1.8;
        margin-bottom: 1px;
        border-radius: 6px !important;
        padding: 5px 15px; }
    #first_block .header .menu .menu_item.option:last-of-type {
      margin-right: 0; }
    #first_block .header .menu .menu_item.option * {
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); }
    #first_block .header .menu .menu_item.option span {
      color: #ffffff; }
    #first_block .header .menu .menu_item.option.phone * {
      color: #fae12e; }
  #first_block .content {
    position: relative;
    margin: 0 auto;
    max-width: 940px;
    padding-top: 90px;
    padding-bottom: 40px; }
    #first_block .content .moto * {
      color: #fff;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
      display: inline;
      font-size: 40px;
      line-height: 50px; }
    #first_block .content .moto h1 {
      font-family: "MuseoSansBold", Helvetica, Arial, sans-serif; }
    #first_block .content .form {
      background: rgba(255, 255, 255, 0.95);
      padding: 20px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
      text-align: center;
      border-radius: 6px;
      margin-top: 222px; }
      #first_block .content .form input {
        margin-right: 20px; }
      #first_block .content .form button {
        height: 40px;
        font-size: 16px;
        padding-left: 16px;
        padding-right: 16px; }
  #first_block .top_pointer_wrapper {
    margin-left: -100px;
    position: absolute;
    bottom: -55px;
    height: 82px;
    width: 200px;
    z-index: 1;
    left: 50%;
    cursor: pointer; }
    #first_block .top_pointer_wrapper .top_pointer {
      display: block;
      -webkit-animation: _1SPxwonwfe0SdBCvZcLsRX 1s infinite;
      animation: _1SPxwonwfe0SdBCvZcLsRX 1s infinite;
      margin: 6px auto 0;
      position: relative;
      height: 34px;
      width: 34px;
      color: #000;
      border-radius: 100px;
      border: 1px solid #d9d9d9;
      background: #fff; }
      #first_block .top_pointer_wrapper .top_pointer:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        top: 9px;
        left: 11px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        border: 2px solid #000;
        border-left: none;
        border-top: none; }

.block.grey {
  background-color: #f8f8f8; }
.block .wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 100px 0; }
  .block .wrapper > .header {
    font-family: "MuseoSansBold", Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 40px;
    letter-spacing: 0;
    font-size: 40px;
    color: #222;
    margin: 0; }
  .block .wrapper .sub_header {
    margin-top: 22px;
    padding: 0 80px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    color: #222; }
  .block .wrapper #personnel {
    margin-top: 70px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    transition: all 0.8s ease; }
    .block .wrapper #personnel .item {
      transition: all 0.8s ease;
      height: 300px;
      width: 300px;
      text-align: center;
      margin-bottom: 50px;
      background: #fff;
      border-radius: 6px;
      border: 1px solid #d9d9d9;
      color: #000; }
      .block .wrapper #personnel .item .header {
        font-size: 14px;
        font-family: "MuseoSansBold", Helvetica, Arial, sans-serif;
        color: #000;
        line-height: 40px;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        border-bottom: 1px solid #d9d9d9;
        background: rgba(247, 247, 247, 0.5);
        border-radius: 6px 6px 0 0; }
      .block .wrapper #personnel .item .image {
        background: 70% 0 no-repeat;
        background-size: 190px;
        border-radius: 100px;
        margin: 0 auto;
        opacity: 1;
        height: 160px;
        width: 160px;
        margin-top: 30px; }
      .block .wrapper #personnel .item .descr {
        display: inline-block;
        margin-top: 16px;
        font-size: 16px;
        color: #222; }
      .block .wrapper #personnel .item:first-of-type .image {
        background-image: url(../img/worker_1.PNG); }
      .block .wrapper #personnel .item:nth-of-type(2) .image {
        background-image: url(../img/worker_2.PNG); }
      .block .wrapper #personnel .item:last-of-type .image {
        background-image: url(../img/worker_3.PNG); }

button {
  border-radius: 4px !important;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  outline: 0 !important;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  color: #fff;
  background-color: #20a052;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  -webkit-appearance: button;
  text-transform: none; }
  button:hover, button:focus, button:active {
    color: #fff;
    background-color: #4db375;
    text-decoration: none; }
  button:focus {
    outline-offset: -2px; }
  button:active {
    background-image: none; }

input {
  padding: 0 15px;
  font-size: 15px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  input:hover {
    border-color: rgba(0, 0, 0, 0.3); }
  input:focus {
    border-color: #20a052;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(32, 160, 82, 0.64);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(32, 160, 82, 0.64); }

.accordion_header {
  cursor: pointer;
  width: 100%;
  text-align: left;
  transition: 0.4s; }
  .accordion_header:after {
    content: "";
    background: url(../img/button_arrow_down.svg) 0 0 no-repeat;
    float: right;
    width: 11px;
    height: 6px;
    -webkit-transition: -webkit-transform 0.1s ease-out;
    transition: transform 0.4s ease-out; }
  .accordion_header.active:after {
    transform: rotate(180deg); }

.accordion_content {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out; }

@keyframes _1SPxwonwfe0SdBCvZcLsRX {
  0% {
    top: 0; }
  50% {
    top: 6px; }
  to {
    top: 0; } }

/*# sourceMappingURL=new_building.css.map */
