@font-face {
  font-family: "MuseoSansMedium";
  src: url("../fonts/MuseoSansMedium.eot");
  src: url("../fonts/MuseoSansMedium.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/MuseoSansMedium.woff") format("woff");
  src: url("../fonts/MuseoSansMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "MuseoSansBold";
  src: url("../fonts/MuseoSansBold.eot");
  src: url("../fonts/MuseoSansBold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/MuseoSansBold.woff") format("woff");
  src: url("../fonts/MuseoSansBold.ttf") format("truetype");
  font-style: normal; }
@font-face {
  font-family: "MuseoSansRegular";
  src: url("../fonts/MuseoSansRegular.eot");
  src: url("../fonts/MuseoSansRegular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/MuseoSansRegular.woff") format("woff");
  src: url("../fonts/MuseoSansRegular.ttf") format("truetype");
  font-style: normal; }
body {
  margin: 0; }
  body * {
    font-family: "MuseoSansMedium", Helvetica, Arial, sans-serif; }

#nav {
  background-color: #ffffff;
  transition: all 0.3s ease;
  box-shadow: none;
  position: fixed;
  z-index: 1000;
  height: 60px;
  width: 100%;
  top: -70px; }
  #nav.visible {
    top: 0;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3); }
  #nav .logo {
    background-image: url(../img/logo.svg);
    display: inline-block;
    height: 40px;
    width: 160px;
    margin-left: 20px;
    margin-top: 16px;
    background-repeat: no-repeat;
    background-size: contain; }
  #nav .menu {
    margin-right: 20px;
    float: right; }
    #nav .menu .menu_item {
      display: inline-block;
      line-height: 61px;
      font-size: 14px; }
      #nav .menu .menu_item.option {
        margin-right: 20px; }
        #nav .menu .menu_item.option.phone * {
          color: #222; }
        #nav .menu .menu_item.option.phone a {
          text-decoration: none; }
          #nav .menu .menu_item.option.phone a img {
            vertical-align: middle; }
        #nav .menu .menu_item.option.phone img {
          height: 20px;
          width: 20px; }
        #nav .menu .menu_item.option span {
          cursor: pointer; }
      #nav .menu .menu_item button {
        font-size: 14px;
        line-height: 1.8;
        margin-bottom: 1px;
        border-radius: 6px !important;
        padding: 5px 15px; }
    #nav .menu .menu_item.option span {
      color: #8c8c8c;
      transition: color 0.3s;
      -webkit-transition: color 0.3s;
      -moz-transition: color 0.3s;
      -o-transition: color 0.3s; }
      #nav .menu .menu_item.option span:hover {
        color: #222; }
  #nav * {
    font-family: "MuseoSansBold", Helvetica, Arial, sans-serif;
    letter-spacing: 0.8px; }

#top_block {
  background: 50% 0 url(../img/1.jpg) no-repeat;
  background-size: cover;
  position: relative;
  height: calc(100vh - 25px); }
  #top_block .header .logo {
    display: inline-block;
    height: 40px;
    width: 160px;
    margin-left: 20px;
    margin-top: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/logo_white.svg); }
  #top_block .header .menu {
    margin-right: 20px;
    float: right; }
    #top_block .header .menu * {
      font-family: "MuseoSansBold", Helvetica, Arial, sans-serif;
      letter-spacing: 0.8px; }
    #top_block .header .menu .menu_item {
      display: inline-block;
      line-height: 61px;
      font-size: 14px; }
      #top_block .header .menu .menu_item.option {
        margin-right: 20px; }
        #top_block .header .menu .menu_item.option.phone * {
          color: #222; }
        #top_block .header .menu .menu_item.option.phone a {
          text-decoration: none; }
          #top_block .header .menu .menu_item.option.phone a img {
            vertical-align: middle; }
        #top_block .header .menu .menu_item.option.phone img {
          height: 20px;
          width: 20px; }
        #top_block .header .menu .menu_item.option span {
          cursor: pointer; }
      #top_block .header .menu .menu_item button {
        font-size: 14px;
        line-height: 1.8;
        margin-bottom: 1px;
        border-radius: 6px !important;
        padding: 5px 15px; }
    #top_block .header .menu .menu_item.option:last-of-type {
      margin-right: 0; }
    #top_block .header .menu .menu_item.option * {
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); }
    #top_block .header .menu .menu_item.option span {
      color: #ffffff; }
    #top_block .header .menu .menu_item.option.phone * {
      color: #fae12e; }
  #top_block .content {
    position: relative;
    margin: 0 auto;
    max-width: 940px;
    padding-top: 90px;
    padding-bottom: 40px; }
    #top_block .content .moto * {
      color: #fff;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
      display: inline;
      font-size: 40px;
      line-height: 50px; }
    #top_block .content .moto h1 {
      font-family: "MuseoSansBold", Helvetica, Arial, sans-serif; }
  #top_block .top_form_wrapper {
    position: absolute;
    bottom: 120px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center; }
    #top_block .top_form_wrapper .top_form {
      display: inline-block;
      background: rgba(255, 255, 255, 0.95);
      padding: 20px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
      text-align: center;
      border-radius: 6px; }
      #top_block .top_form_wrapper .top_form input {
        margin-right: 20px; }
      #top_block .top_form_wrapper .top_form button {
        height: 40px;
        font-size: 16px;
        padding-left: 16px;
        padding-right: 16px; }
  #top_block .top_pointer_wrapper {
    margin-left: -100px;
    position: absolute;
    bottom: -55px;
    height: 82px;
    width: 200px;
    z-index: 1;
    left: 50%;
    cursor: pointer; }
    #top_block .top_pointer_wrapper .top_pointer {
      display: block;
      -webkit-animation: _1SPxwonwfe0SdBCvZcLsRX 1s infinite;
      animation: _1SPxwonwfe0SdBCvZcLsRX 1s infinite;
      margin: 6px auto 0;
      position: relative;
      height: 34px;
      width: 34px;
      color: #000;
      border-radius: 100px;
      border: 1px solid #d9d9d9;
      background: #fff; }
      #top_block .top_pointer_wrapper .top_pointer:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        top: 9px;
        left: 11px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        border: 2px solid #000;
        border-left: none;
        border-top: none; }

.block.order .sub_header {
  margin-top: 14px !important; }
.block.grey {
  background-color: #f8f8f8; }
.block .wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 100px 0; }
  .block .wrapper > .header {
    font-family: "MuseoSansBold", Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 40px;
    letter-spacing: 0;
    font-size: 40px;
    color: #222;
    margin: 0; }
  .block .wrapper #faq {
    border-top: 1px solid #d9d9d9;
    margin-top: 40px; }
  .block .wrapper .sub_header {
    margin-top: 22px;
    padding: 0 80px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    color: #222; }
  .block .wrapper #prices {
    margin-top: 60px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .block .wrapper #prices .item {
      width: 300px;
      padding: 30px 0;
      border: 1px solid #d9d9d9;
      border-radius: 6px; }
      .block .wrapper #prices .item .content {
        text-align: left;
        width: 100%; }
        .block .wrapper #prices .item .content .price {
          color: #222;
          font-size: 40px;
          line-height: 1em;
          font-weight: 900;
          padding: 0 30px; }
        .block .wrapper #prices .item .content .descr {
          color: #222;
          font-size: 26px;
          line-height: 1.538em;
          margin-bottom: 34px;
          padding: 0 30px; }
        .block .wrapper #prices .item .content button {
          width: 240px;
          font-size: 16px;
          height: 40px;
          margin: 0 30px; }
  .block .wrapper #personnel {
    margin-top: 70px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .block .wrapper #personnel .item {
      height: 300px;
      width: 300px;
      text-align: center;
      background: #fff;
      border-radius: 6px;
      border: 1px solid #d9d9d9;
      color: #000; }
      .block .wrapper #personnel .item .header {
        font-size: 14px;
        font-family: "MuseoSansBold", Helvetica, Arial, sans-serif;
        color: #000;
        line-height: 40px;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        border-bottom: 1px solid #d9d9d9;
        background: rgba(247, 247, 247, 0.5);
        border-radius: 6px 6px 0 0; }
      .block .wrapper #personnel .item .image {
        background: 70% 0 no-repeat;
        background-size: 190px;
        border-radius: 100px;
        margin: 0 auto;
        opacity: 1;
        height: 160px;
        width: 160px;
        margin-top: 30px; }
      .block .wrapper #personnel .item .descr {
        display: inline-block;
        margin-top: 16px;
        font-size: 16px;
        color: #222; }
      .block .wrapper #personnel .item:first-of-type .image {
        background-image: url(../img/worker_1.PNG); }
      .block .wrapper #personnel .item:nth-of-type(2) .image {
        background-image: url(../img/worker_2.PNG); }
      .block .wrapper #personnel .item:last-of-type .image {
        background-image: url(../img/worker_3.PNG); }

button {
  vertical-align: baseline;
  border-radius: 4px !important;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  outline: 0 !important;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  color: #fff;
  background-color: #20a052;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  -webkit-appearance: button;
  text-transform: none; }
  button:hover, button:focus, button:active {
    color: #fff;
    background-color: #4db375;
    text-decoration: none; }
  button:focus {
    outline-offset: -2px; }
  button:active {
    background-image: none; }

input {
  padding: 0 15px;
  font-size: 15px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border-radius: 4px !important; }
  input:hover {
    border-color: rgba(0, 0, 0, 0.3); }
  input:focus {
    border-color: #20a052;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(32, 160, 82, 0.64);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(32, 160, 82, 0.64); }

.accordion_header {
  padding: 25px 0 25px 0;
  color: #20a052;
  line-height: 35px;
  font-size: 26px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  transition: 0.4s; }
  .accordion_header:hover {
    color: #222; }
  .accordion_header:after {
    margin-top: 8px;
    content: "";
    background: url(../img/button_arrow_down.svg) 0 0 no-repeat;
    float: right;
    width: 31px;
    height: 18px;
    -webkit-transition: -webkit-transform 0.1s ease-out;
    transition: transform 0.4s ease-out; }
  .accordion_header.active:after {
    transform: rotate(180deg); }
  .accordion_header div {
    display: inline-block;
    max-width: 820px; }

.accordion_content {
  border-bottom: 1px solid #d9d9d9;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out; }
  .accordion_content div {
    line-height: 25px;
    font-family: "MuseoSansReqular", Helvetica, Arial, sans-serif;
    font-size: 16px;
    display: inline-block;
    max-width: 620px; }
    .accordion_content div:after {
      display: block;
      height: 25px;
      content: ""; }

@keyframes _1SPxwonwfe0SdBCvZcLsRX {
  0% {
    top: 0; }
  50% {
    top: 6px; }
  to {
    top: 0; } }
#telegram_link_chat,
#vk_link_chat {
  text-decoration: none;
  position: relative;
  display: inline-block;
  height: 40px;
  width: 160px;
  vertical-align: middle;
  transition: background 0.3s ease;
  border-radius: 100px;
  line-height: 40px;
  letter-spacing: 0;
  text-align: center;
  font-size: 16px;
  color: #fff; }
  #telegram_link_chat *,
  #vk_link_chat * {
    vertical-align: middle; }
  #telegram_link_chat img,
  #vk_link_chat img {
    margin-right: 10px;
    height: 24px;
    width: 24px; }

#telegram_link_chat {
  background: #2ca5e0; }
  #telegram_link_chat:hover {
    background: #58b8e7; }

#vk_link_chat {
  background: #5c81b3; }
  #vk_link_chat:hover {
    background: #7f9cc3; }

#vk_link,
#instagram_link,
#fb_link {
  background: rgba(217, 217, 217, 0.2);
  transition: all 0.3s ease;
  display: inline-block;
  border-radius: 100px;
  position: relative;
  margin-left: 10px;
  height: 40px;
  width: 40px; }
  #vk_link img,
  #instagram_link img,
  #fb_link img {
    background: 50% 50% no-repeat;
    transition: opacity 0.3s ease;
    background-size: contain;
    position: absolute;
    opacity: 0.8;
    content: ""; }

#vk_link img {
  left: 8px;
  top: 15px;
  height: 13px;
  width: 23px; }
#vk_link:hover {
  background: #5c81b3; }

#instagram_link:after {
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
  transition: all 0.3s ease;
  border-radius: 100%;
  position: absolute;
  content: "";
  opacity: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0; }
#instagram_link img {
  z-index: 1;
  left: 8px;
  top: 8px;
  height: 24px;
  width: 24px; }
#instagram_link:hover:after {
  opacity: 1; }

#fb_link img {
  height: 23px;
  width: 12px;
  left: 14.5px;
  top: 9px; }
#fb_link:hover {
  background: #485eac; }

.bottom_form_wrapper {
  text-align: center;
  margin-top: 20px; }
  .bottom_form_wrapper .bottom_form input {
    margin-right: 5px; }
  .bottom_form_wrapper .bottom_form button {
    height: 40px;
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px; }

.block.footer {
  background-color: #383838; }
  .block.footer .wrapper {
    padding-top: 35px;
    padding-bottom: 20px;
    max-width: 590px; }
    .block.footer .wrapper .sub_header {
      margin-top: 0;
      color: rgba(255, 255, 255, 0.4);
      line-height: 20px;
      font-size: 16px;
      text-align: left;
      padding: 0;
      margin-bottom: 20px; }
    .block.footer .wrapper .messengers {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      padding-bottom: 30px; }
    .block.footer .wrapper .info {
      margin-top: 10px; }
      .block.footer .wrapper .info .left {
        margin-right: 10px;
        display: inline-block;
        float: left;
        line-height: 42px; }
        .block.footer .wrapper .info .left * {
          color: rgba(255, 255, 255, 0.3) !important;
          line-height: 30px;
          font-size: 13px;
          text-decoration: none; }
      .block.footer .wrapper .info .right {
        display: inline-block; }

/*# sourceMappingURL=new_building.css.map */
